{
  "env": {
    "development": {
      "presets": [
        "es2015",
        "power-assert"
      ],
      "plugins": [
        "lodash"
      ]
    },
    "production": {
      "presets": [
        "es2015"
      ],
      "plugins": [
        "unassert",
        "lodash"
      ]
    }
  }
}
